<header class="header">
  <div class="container">
    <div class="header-additional">
     <div class="header-mobile">
        <svg class="header-logo" width="123" height="16">
      <use href="/img/icons.svg#icon-logo"></use>
    </svg>
    <ul class="header-nav-list">
      <li><a href="" class="header-nav-link">About us</a></li>
      <li><a href="" class="header-nav-link">Our courses</a></li>
      <li><a href="" class="header-nav-link">Our mentors</a></li>
      <li><a href="" class="header-nav-link">Reviews</a></li>
      <li><a href="" class="header-nav-link">Contacts</a></li>
    </ul>
    <div class="header-nav-mobile">
     <svg class="header-camera-icon" width="16" height="16">
      <use href="/img/icons.svg#icon-camera"></use>
    </svg> 
    <svg class="header-nav-icon" width="32" height="22">
      <use href="/img/icons.svg#icon-burger"></use>
    </svg>  
    </div>
  </div>
    <button type="button" class="header-button">Sign up</button>
  </div>
  
  
  </div>
</header>
